*.ipynb
*.pt
*.pth
*.br
*.jpg
*.zip
*.txt

datasets/seadronessee/
datasets/sea_voc/
runs/
mlruns/
.vscode/

preprocessing/inference/inferenciaYolov5.py
preprocessing/inference/inferenciaYolov8.py
preprocessing/inference/inferenciaYolov10.py